body {
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: center;
  flex: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.top-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

#clear, #del {
  font-size: 10px;
  padding: 6px;
  width: 100%;
}

#current, #eval {
  justify-content: end;
  display: flex
}

button {
  display: block;
}